* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    height: 60px;
    width: 100%;
    background: #41553ae2;
    display: flex;
    align-items: center;
    color: #dedede;
}

form, body{
    background: #eeeeee; 
}

.group-input{
    width: 100%;
}

h1 {
    padding: 10px;
}

.column {
    background: #eeeeee;
    min-width: 100%;
    min-height: 500px;
    display: flex;
    align-items: start;
    justify-content: center;
    line-height: 40px;
    flex-wrap: wrap;
   
}

.column-form {
    padding: 25px;
    min-height: 400px;
    width: 400px;
}

select {
    border: 1px solid #99c196;
    background: #6d866d34;
    height: 35px;
    width: 180px;
    border-radius: 5px;
    color: #3a3a3a;
}

input {
    border: 1px solid #99c196;
    background: #6d866d34;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    color: #3a3a3a;
    transition: all ease 0.2s;
    padding:10px;
}

label {
    font-size: 17px;
    font-family: sans-serif;
    color: #3a3a3a;
}

.buttons{
   display: flex;  
   gap:15px; 
   width: 450px;
   margin: auto;
   margin-bottom: 15px;
}

.buttons button {
   width: 100%;
   background: #6d866d34;
   border: 1px solid #99c196;
   padding: 7px;
   border-radius: 5px;
   cursor: pointer;
   transition: all ease 0.2s;
}

.buttons button:hover {
    background: #35582d44;
    outline: 1px solid #5b7d59b8;
}

.box {
    height: 105px;
    width: 100%;
    background: #eeeeee;
    display: flex;
    align-items:flex-start;
    justify-content:center;
    color: #3a3a3a;
    font-size: 15px;
}

.termos {
    padding-left: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.end {
    height: 30px;
    width: 100%;
    background: #41553ae2;
}

p {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    color: #d6d6d6;
} 

input[type="checkbox"]{
    width: 15px;
    height: 15px;
}

input:focus{
    background: #35582d44;
    outline: 1px solid #5b7d59b8;
}

@media (max-width:750px) {
    .title {
      font-size: 15px;
    }

    .column{
        gap:25px;
    }

    .group-form{
        padding:15px;
    }

    .column-form {
        min-width:100%;
        padding:10px;
    }

    input,select{
        width:100%;
    }

    .buttons {
       width: 100%;
       flex-direction: column;
       padding: 10px;
    }

}

